extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/add')
    //- #form-group
    //-   label Title:
    //-   input.form-control(name='title', type='text')
    //- #form-group
    //-   label Author:
    //-   input.form-control(name='author', type='text')
    //- #form-group
    //-   label Body:
    //-   textarea.form-control(name='body')
    #form-group
      label Activation Key:
      input.form-control(name='activationcode', type='text')
    #form-group
      label Company:
      input.form-control(name='company', type='text')
    #form-group
      label User:
      input.form-control(name='user', type='text')
    #form-group
      label Status:
      input.form-control(name='status', type='text')
    #form-group
      label Expiration Date:
      input.form-control(name='expirationdate', type='text')
    #form-group
      label Email:
      input.form-control(name='email', type='text')
    #form-group
      label Laser Scanner:
      input.form-control(name='laserhead', type='text')
    #form-group
      label Data Logger:
      input.form-control(name='datalogger', type='text')
    #form-group
      label Camera:
      input.form-control(name='camera', type='text')
    #form-group
      label Comments:
      textarea.form-control(name='comments')
    br
    input.btn.btn-primary(type='submit', value='Submit')
